div#page.page article.page-content.right{
	padding: 2%;
}
div#page.page article.page-content.right .art-h{
	padding: 1% 0;
}
div#page.page article.page-content.right .art-h a{
	color: #000000;
}
div#page.page article.page-content.right .art-h{
	text-align: center;
}
.art-pic{
	text-align: center;
}
.art-pic img{
	max-width: 100%;
}
.body{
	padding: 0.5% 1.5%;
}