div.spcial-list article.article{
	background-color: #ededed;
	transition: .2s;
	margin: 0 0 1.5% 0;
	padding: .5% 1.5%;
}
div.spcial-list article.article:hover{
	transform: scale(1.02);
}
div.spcial-list article.article.yay-sider .sider{
	text-align: center;
}
div.spcial-list article.article.yay-sider .sider img{
	max-width: 100%;
	max-height: 100%;
	min-width: 80%;
	min-height: 80%;
}
@media(min-width: 650px){
	div.spcial-list article.article.yay-sider{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 1% 0;
	}
	div.spcial-list article.article.yay-sider .sider{
		flex: 0.29;
	}
	div.spcial-list article.article.yay-sider .high-content{
		flex: 0.69;
	}
}
@media(max-width: 650px){
	div.spcial-list article.article{
		padding: 1%;
		margin: 0 0 2.5% 0;
	}
	div.spcial-list article.article div h2{
		text-align: center;
	}
	div.spcial-list article.article div p{
		font-size: 18px!important;
	}
}
@media(min-width: 950px){
	div.spcial-list article.article.yay-sider .sider{
		flex: 0.29;
	}
	div.spcial-list article.article.yay-sider .hight-content{
		flex: 0.69;
	}
}
@media(max-width: 950px){
	div.spcial-list article.article.yay-sider .sider{
		flex: 0.39;
	}
	div.spcial-list article.article.yay-sider .high-content{
		flex: 0.59;
	}
}
@media(max-width: 750px){
	div.spcial-list article.article.yay-sider .sider{
		flex: 0.34;
	}
	div.spcial-list article.article.yay-sider .high-content{
		flex: 0.64;
	}
	div.spcial-list article.article div h2{
		font-size: 25px;
	}
	div.spcial-list article.article div p{
		font-size: 19px;
	}
}