.menuul{
	background-color: #0D47A1;
	/*
	#0e50ba
	5b7bed
	002989
	0c51c1

	4792c1
	006590
	7cc2f4
	39759b
	00496d
	6ba3cc
	*/
	white-space: nowrap;
	overflow: auto;
}
.uli{
	display: inline-block;
	padding: 0.8% 1.8%;
}
@media(max-width: 475px){
	.uli{
		padding: 1.3% 1.8%;
		margin: 0 1.8%;
		font-size: 18px;
	}
}
.uli img{
	float: left;
}
.uli a{
	color: #ededed;
}
.uli:hover{
	background-color: #1976D2;
}
.itemul{
	position: absolute;
	margin: 0.8% 0 0 0;
	display: none;
	background-color: #003eba;
}
.uli:hover .itemul{
	display: block;
}
.iuli{
	width: 120px;
	padding: 10px;
	float: none;
	display: list-item;
	position: relative;
}
.iuli:hover{
	background-color: #0035a4;
}