.menuul{
	background-color: #0d47a1;
	white-space: nowrap;
	overflow: auto;
	z-index: 10;
}
.uli{
	display: inline-block;
	padding: 0.8% 1.8%;
}
@media(max-width: 475px){
	.uli{
		padding: 1.3% 1.8%;
		margin: 0 1.8%;
		font-size: 18px;
	}
}
.uli img{
	float: left;
}
.uli a{
	color: #ededed;
}
.uli:hover{
	background-color: #0e50ba;
}
.itemul{
	position: absolute;
	margin: 0.8% 0 0 0;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	background-color: #0277bd;
	max-height: 55%;
	z-index: 10;
}
.uli:hover .itemul{
	display: block;
}
.iuli{
	width: 150px;
	padding: 5px;
	float: none;
	display: block;
}
.iuli:hover{
	background-color: #4792c9;
}