@font-face{
	font-family: "ISR";
	src: url("./fonts/ISR.eot"), url("./fonts/ISR.woff") format("woff"), url("./fonts/ISR.ttf") format("ttf");
	font-style: normal;
	font-weight: normal;
}
*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}
body{
	direction: rtl;
	font-family: "ISR";
	background-color: #d1def2;
	font-size: 20px;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
img{
	max-height: 100%;
	max-width: 100%;
}
.page{
	padding: 1%;
}
.text-icon{
	display: flex;
	align-items: center;
	justify-content: center;
}
.li-icon{
	vertical-align: middle;
}
.li-icon img{
	float: right;
}
.ed-color{
	color: #ededed;
}
.block{
	display: block!important;
}
.imgbutton{
	cursor: pointer;
	background: transparent;
}
.freeze{
	overflow: hidden;
}
.page-content{
	background-color: #ededed;
}
.center-parent{
	display: flex;
	align-items: center;
	justify-content: center;
}
.center-parent .centered{
	margin: auto;
}
.link-like{
	color: #2060fd;
}
.link-like:hover{
	color: #004c8d;
	text-decoration: underline;
	cursor: pointer;
}