@font-face{
	font-family: "ISR";
	src: url("./fonts/ISR.eot");
	src: url("./fonts/ISR.eot?#iefix") format("embedded-opentype"),
	url("./fonts/ISR.woff2") format("woff2"),
	url("./fonts/ISR.woff") format("woff"),
	url("./fonts/ISR.woff") format("woff");
}
*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: "ISR", sans-serif;
}
body{
	direction: rtl;
	background-color: #d1def2;
	font-size: 20px;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
img{
	max-height: 100%;
	max-width: 100%;
}
.page{
	padding: 0.8% 0.2%;
}
.text-icon{
	display: flex;
	align-items: center;
	justify-content: center;
}
.li-icon{
	vertical-align: middle;
}
.li-icon img{
	float: right;
}
.blue-text{
	color: #004c8d;
}
.ed-color{
	color: #ededed;
}
.oc-color{
	color: #0c0c0c;
}
.block{
	display: block!important;
}
.imgbutton{
	cursor: pointer;
	background: transparent;
}
.freeze{
	overflow: hidden;
}
.page-content{
	background-color: #ededed;
}
.center-parent{
	display: flex;
	align-items: center;
	justify-content: center;
}
.center-parent .centered{
	margin: auto;
}
.link-like{
	color: #2060fd;
}
.link-like:hover{
	color: #004c8d;
	text-decoration: underline;
	cursor: pointer;
}
.like-h2{
	font-size: 32px;
	margin: 1% 0;
	display: inline-block;
}
@media(max-width: 850px){
	.like-h2{
		font-size: 28px;
	}
}
@media(max-width: 575px){
	.like-h2{
		font-size: 22px;
		margin: 0;
	}
}
.like-h2:hover{
	text-decoration: underline;
}
.red-text{
	color: #ff3232;
}
.gray-back{
	background: gray;
}
.cen{
	text-align: center;
}