/*@media(1500px)*/
div.page-halfer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}
div.page-halfer div.half{
	flex-basis: 48%;
}
@media(max-width: 950px){
	div.page-halfer div.half{
		flex-basis: 95%;
	}
}