nav#topnav.lm-nav{
	height: 48px;
}
aside#highsidebar{
	position: fixed;
	background-color: #090909;
	right: 0;
	color: #ededed;
	white-space: nowrap;
	transition: 0.2s;
	overflow: auto;
	height: 100%;
	text-align: center;
	z-index: 3;
}
aside#highsidebar *{
	padding: 1% 0;
}
aside#highsidebar > ul > li > .router-link-exact-active{
	border-right: 5px solid #004c8d;
	border-bottom: 2px solid #004c8d;
}
aside#highsidebar ul li a.link-like.text-icon span{
	flex: 0.5;
}
div#app.sidenav-medium > *{
	transition: 0.2s!important;
}
aside#highsidebar > ul > li > ul{
	display: none;
	background: #252525;
}
aside#highsidebar > ul > li.openli > ul, aside#highsidebar > ul > li:hover > ul{
	display: block;
}
aside#highsidebar > ul > li.openli > ul > li:hover, aside#highsidebar > ul > li:hover > ul > li:hover, aside#highsidebar > ul > li.openli > ul > li > .router-link-exact-active{
	background-color: #202020!important;
}
.left-float{
	float: left;
	padding: 2%!important;
}
@media(min-width: 775px){
	aside#highsidebar.open-side{
		width: 18%;
	}
	div#app.sidenav-large > *{
		margin: 0 18% 0 0;
		transition: 0.2s;
	}
	div#app.sidenav-medium > *{
		margin: 0 5% 0 0;
	}
	aside#highsidebar.close-side{
		width: 5%;
	}
	aside#highsidebar.close-side ul li > a > span{
		display: none;
	}
	aside#highsidebar.close-side > *{
		margin: 20% 0;
	}
}
@media(max-width: 775px){
	aside#highsidebar{
		right: -100%;
		width: 70%;
	}
	div#app{
		margin: 0 0 0 0!important;
	}
	div#app > *{
		margin: 0 0 0 0!important;
	}
	aside#highsidebar.open{
		right: 0;
	}
	aside#highsidebar ul li a.link-like.text-icon span{
		flex: 0.3;
	}
}
@media(max-width: 340px){
	aside#highsidebar ul li a.link-like.text-icon span{
		flex: 0.6;
	}
}
div#app > nav#topnav, aside#highsidebar{
	margin: 0 0 0 0!important;
}