.lm-page{
	padding: 1%;
}
.lm-page-head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1%;
	margin: 0 0 1% 0;
}
.lm-link{
	border-radius: 6px;
	padding: 0.2% 1%;
	color: #ededed;
	cursor: pointer;
	background-color: transparent;
}
.lm-link > *{
	background-color: transparent!important;
}
.lm-blue{
	background-color: #004c8d;
}
.lm-blue:hover{
	background-color: #032c6d;	
}
.lm-green{
	background-color: green;
}
.lm-green:hover{
	background-color: lightgreen;
}
.lm-red{
	background-color: red;
}
.lm-red:hover{
	background-color: pink;
}