div#Loger div.centered{
	background-color: #ededed;
	border-radius: 10px;
	margin: 1% 0;
	box-shadow: 0 0 22px #121212;
	padding: 1%!important;
	max-width: 100%;
}
form#login-form *{
	display: block;
}
@media(min-width: 1000px){
	div#Loger div.centered{
		width: 25%;
	}
}
@media(max-width: 1000px){
	div#Loger div.centered{
		width: 35%;
	}
}
@media(max-width: 750px){
	div#Loger div.centered{
		width: 40%;
		padding: 3%!important;
	}
	div#Loger div.centered a{
		font-size: 18px; 
	}
}
@media(max-width: 650px){
	div#Loger div.centered{
		width: 65%;
	}
}
@media(max-width: 450px){
	div#Loger div.centered{
		width: 80%;
	}
}
@media(max-width: 350px){
	div#Loger div.centered{
		width: 95%;
	}
}
form#login-form input{
	border: none;
	border-bottom: 2px solid #333333!important;
	background: transparent;
	padding: 0!important;
}
form#login-form{
	background-color: transparent!important; 
	padding: 0!important;
	border: none!important;
}
form#login-form > button{
	padding: 2% 10%;
	margin: 8% auto 4% auto;
	text-align: center;
	align-items: center;
	align-self: center;
	align-content: center;
}
div#Loger div.centered h2, div#login-or{
	text-align: center;
}
div#login-or p{
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	margin: 0 0 4% 0;
}
div#login-or p:before, div#login-or p:after{
	position: absolute;
	top: 50%;
	overflow: hidden;
	width: 48%;
	height: 1px;
	margin: 0 2%;
	content: '\a0';
	background-color: #555555;
}
div#login-or p:before{
	margin: 0 -50% 0 0;
	text-align: left;
}
@media(max-width: 200px){
	div#Loger div.centered a h1{
		font-size: 28px;
	}
	div#Loger div.centered h2{
		font-size: 24px;
	}
}