.medium-list{
	display: flex;
	justify-content: space-around;
	text-align: center;
	flex-direction: row;
	flex-flow: wrap;
}
article.art{
	flex-basis: 23.5%;
	transition: .3s;
	margin: 2% 0;
}
article.art:hover{
	transform: scale(1.075);
}
article.art img{
	height: 70%;
	width: 100%;
	background-color: #ededed;
}
article.art h2{
	background-color: #ededed;
}
@media(max-width: 1150px){
	article.art{
		flex-basis: 31.5%;
	}
	article.art h2{
		font-size: 24px;
	}
}
@media(max-width: 775px){
	article.art{
		flex-basis: 45%;
	}
	article.art:hover{
		transform: scale(1.05);
	}
	article.art h2{
		font-size: 23px;
	}
}
@media(max-width: 500px){
	article.art{
		flex-basis: 90%;
	}
}
@media(max-width: 350px){
	article.art{
		flex-basis: 96%;
	}
	article.art{
		transform: scale(1.02);
	}
}
.medium-list.selecting .art.selected{
	border-radius: 5px;
	border: 4px solid #004c8d;
}