#page{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.right{
	flex-basis: 78%;
	padding: 0.5%;
}
aside#sidebar{
	flex-basis: 20%;
	background-color: #ededed;
	padding: 1%;
}
aside#sidebar .down-name{
	text-align: center;
}
aside#sidebar .down-name a{
	color: #212121;
}