div#page.page article{
	padding: 2%;
	border-radius: 4px;
}
div#page.page article .art-h{
	padding: 1% 0;
}
div#page.page article .art-h a{
	color: #000000;
}
div#page.page article .art-h{
	text-align: center;
}
.art-pic{
	text-align: center;
}
.art-pic img{
	max-width: 100%;
}
.body{
	padding: 0.5% 1.5%;
}
div#page.page .comments{
	margin: 1% 0;
	border-radius: 6px;
	padding: 1%;
}
.art-detail{
	border-top: 2px solid #232323;
}