div.img-sider{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	margin: auto;
}
div.img-sider > *{
	flex: 0 0 auto;
}
div.img-sider .side{
	flex-basis: 50%;
}
div.img-sider .side .side-img{
	min-width: 75%;
	min-height: 75%;
}