div#tabbednav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}
div#tabbednav button.tab-head{
	background: transparent!important;
	border: none!important;
	flex: auto;
	font-size: 18px;
	cursor: pointer;
	border-radius: 12px 12px 0 0;
	border-bottom: 2px solid #dedede!important;
	padding: 0.7% 1%;
	transition: 0.2s;
}
div.tab-body{
	background: transparent;
}
div#tabbednav button.tab-head.active{
	background-color: #cfd8dc!important;
	border-bottom: 4px solid #4d82cb!important;
}
div#tabbednav button.tab-head:hover{
	background-color: #cfd8dc!important;
}